.name {
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    background-color:rgb(201, 234, 201);
    border-style:ridge;
    border-radius: 5px;
    border: 6px ridge rgb(17, 121, 14);
    padding: 5px;
}

body.light-theme {
    margin: 20px;
    background-color:rgb(255, 223, 232);
}

body.dark-theme {
    background-color: rgb(90, 4, 45);
}

.header {
    display: flex;
    gap: 60px;
    align-items: center;
}

.profile-pic {
    width: 150px;
    border: 3px ridge rgb(67, 156, 67);
    border-radius: 200%;
}

.tagline {
    width: auto;
    padding: 10px;
}

.flickr {
    animation: blink 1s linear infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}

.sections {
    font-family:serif;
    border: 1.3px solid;
    border-radius: 5px;
    padding: 5px;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid;
    border-radius: 2px;
    padding: 3px;
}

h3 {
    font-size: 20px;
}

#navbar {
    display: flex;
    font-weight: bold;
}

#navbar li {
    list-style-type: none;
    border: 1.5px ridge rgb(6, 49, 6);
    border-radius: 6px;
    background-color:rgb(207, 252, 226);
    margin: 0;
}

#navbar a.flickr-js-work {
    color: green
}

#navbar a.flickr-js-work:visited {
    color: purple;
}

#navbar a {
    color: blue;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(223, 142, 199);
}

.hobby-list {
    background-color: rgb(183, 241, 172);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.content {
    color:rgb(136, 3, 30);
    font-size: large;
    background-color: rgb(186, 254, 173);
    display: inline-block;
    padding: 5px;
}

.dropdown-content {
    display: none;
}

.dropdown:hover {
    background-color: rgb(238, 184, 193);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(183, 241, 172);
}

.contact-section {
    display: flex;
    gap: 10px;
}

.message-form {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(187, 228, 187);
    gap: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.message-form label {
    display: block;
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.message-form input[type = "text"], textarea {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    width: 200px;
}

textarea {
    resize: none;
    width: 250px;
    height: 120px;
}

input[type = "submit"], input[type = "reset"] {
    background-color: rgb(225, 194, 220);
    font-size: medium;
    font-weight: bold;
    border-radius: 3px;
    width: 190px;
}

input[type = "submit"]:hover, input[type = "reset"]:hover {
    background-color: rgb(171, 214, 232);
    font-size: medium;
    font-weight: bold;
    border-radius: 3px;
    width: 190px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    border: 2px ridge black;
    border-radius: 3px;
    padding: 10px;
}

.gallery-img {
    border: 1px solid black;
    border-radius: 4px;
}

.img-1 {
    width: 200px;
    height: 250px;
}

.img-2 {
    width: 200px;
    height: 250px;
}

.img-3 {
    width: 250px;
    height: 250px;
}

.img-4 {
    width: 250px;
    height: 150px;
}

.img-5 {
    width: 250px;
    height: 150px;
}

.footer {
    border: 1px solid black;
    background-color: rgb(137, 1, 116);
    margin-top: 20px;
    padding: 5px;
}

.contact-info {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
    gap: 10px;
    text-align: start;
    display: flex;
}

.contact-info-left a, .contact-info-right a {
    display: flex;
    color: rgb(214, 239, 153);
    text-align: center;
}

.contact-info a:hover {
    color: rgb(112, 190, 213);
}

.footer {
    display: flex;
}

.footer_about_me {
    text-decoration: none;
}

#demo_bulb {
    width: 100px;
}

.bulb_button {
    width:auto;
    font-size: large;
    background-color: rgb(176, 240, 219);
    font-weight: bold;
}

@media screen and (max-width: 600px) {

    .header {
        flex-direction: column;
    }

    #navbar {
        flex-direction: column;
        width: 54%;
    }

    .contact-section {
        flex-direction: column;
    }

    .gallery {
        display:flex;
        flex-direction: column;
    }

    .img-1, .img-2, .img-3, .img-4, .img-5 {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}